$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  gutter-position: inside,
  container-position: center
);

$profiles: (
  columns: 8,
  gutters: 1/8,
  math: fluid,
  gutter-position: split,
  container-position: center
);

@include breakpoint(1000px) {
  .grid-container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }

  @include with-layout($susy) {

    .logo img {
      max-height: 500px;
      max-width: 500px;
    }
    
    .head-container {
      width: 100%;
      margin-top: 100px;
    }

    .nav-bar {
      @include span(12);
      margin-right: auto;
      margin-left: auto;
      padding: 25px;
      i {
        float: left;
        font-size: 0.85em;
        padding-top: 5px;
        padding-left: 5px;
      }
    }

    .nav-links {
      @include span(12);
      margin-right: auto;
      margin-left: auto;
      padding: 25px;
      text-align: center;
    }

    .main-nav {
      text-decoration: none;
      font-size: 1em;
      padding: 0 1.5em 0 1.5em;
      border-right: solid;
      border-width: 1px;
      border-color: #000016;
      &.last {
        border-right: none;
      }
    }

    .about {
      @include span(12);
    }

    .about-container {
      @include span(10);
      margin-left: span(1);
      margin-right: span(1);

      .about-content {
        @include span(7);
      }

      .main-soundcloud {
        @include span(4);
      }
    }

    .profile-header {
      @include span(12);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;

      .name-container {
        @include span(12);
      }

      .slick-slider {
        margin-bottom: 0;
      }
    }

    .profile-content {
      @include span(12);

      .soundcloud {
        @include span(4);
      }

      .bio {
        @include span(6);
        color: #A3ADE6;

        p {
          padding: 10px;
        }
      }
    }

    #footer {
      @include span(12);
    }
  }
  
  section.border button {
    @include span(2);
    margin-left: span(5);
    margin-right: span(5);
  }

  .contact-container {   
    section.border button {
      @include span(4);
      margin-left: span(4);
      margin-right: span(4);
    }
  }

  .girls {

    @include with-layout($susy, true) {
      .girls-container {
        margin-left: auto;
        margin-right: auto;
      }

      a {
        display: inline-block;
      }

      .profile {
        @include span(4);
      }
    }
  }

  .news-body {
    max-width: 1000px;
    @include with-layout($susy, true) {
      margin-left: span(1);
      margin-right: span(1);
    }
  }
}







