

@include breakpoint(320px) {

  .logo img{
      max-height: 300px;
      max-width: 300px;
     
    }

  .head-container {
   
  }

  .site-header {
    min-width: 320px; 
  }

  .nav-bar {
   
  }

  .nav-links {
   
  }

  .main-nav {
   
  }

  .about {

  }

  .about-container {
    margin-left: auto;
    margin-right: auto;

    .about-content {
      margin: 10px;
    }

    .main-soundcloud {
      margin: 10px;
    }
  }

  .profile-header {
    
    .name-container {
      
    }

    .slick-slider {
      margin-bottom: 0;
    }
  }

  .profile-content {
    

    .soundcloud {
      
    }

    .bio {
      color: #A3ADE6;
      
      p {
        padding: 10px;
      }
    }
  }

  section.border {
    padding-left: 20px;
  }

  section.border button {
    
  }

  #footer {
   
  }

  .girls {
    .girls-container {
      margin: 10px;
      min-width: 300px;

    }
    .profile {

    }    
  }
}