@charset "utf-8";

@import "compass";
@import "susy";
@import "breakpoint";

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  background: #4D5899;
  text-align: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}