
<header class="site-header">
  <div class="logo">
    <img src="images/dnb_girl_logo.gif">
  </div>

  <nav>
    <!-- <div class="nav-bar">
      <div class="nav-links" id="nav">
        <a class="main-nav" href="#">Home</a>
        <a class="main-nav" href="#about">About</a>
        <a class="main-nav" href="#girls">The Girls</a>
        <a class="main-nav" href="#links">Links</a>
        <a class="main-nav" href="#news">News</a>
        <a class="main-nav last" href="#contact">Contact</a>
      </div>
    </div> -->
  </nav>
</header>
<div class="body-container">
  <div class="about">
    <a name="about"></a><h2>About</h2>
    <div class="about-container">
      <div class="main-soundcloud">
        <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/115584121&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
      </div>

      <div class="about-content">
        <p>Drum and Bass Girls is a collective of talented female artists, producers, song writers, singers, and DJs. From hosting radio shows, promoting events, and touring the world these girls deserve due respect for their extensive work and on-going enthusiasm for what they do. The love of Drum and Bass is what unites this group of talented women, but the DnB Girls don't stop there! Our artists aren't afraid to express creativity or diversity as they also showcase many other broken beat forms of Bass Heavy Music!</p>

        <ul>
          <li><a href="https://www.facebook.com/drumandbassgirls" target="_blank">Facebook</a></li>
          <li><a href="http://www.ustream.tv/channel/drum-bass-girls-of-Canada" target="_blank">Ustream Live Radio Show!</a></li>
          <li><a href="https://twitter.com/dnbgirls" target="_blank">Twitter</a></li>
          <li><a href="http://soundcloud.com/dnbgirls" target="_blank">Soundcloud</a></li>
          <li><a href="http://instagram.com/dnb_girls" target="_blank">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="girls">
    <a name="girls"></a><h2>The Girls</h2>
    <div class="girls-container">
      <a href="athena.html">
        <div class="profile">
          <img src="images/athena.jpg" height="250" width="250">
          <p><strong>DJ Athena</strong></p>
        </div>
      </a>
      <a href="tiger.html">
        <div class="profile">
          <img src="images/bulletprooftiger.jpg" height="250" width="250">
          <p><strong>Bulletproof Tiger</strong></p>
        </div>
      </a>
      <a href="corrine.html">
        <div class="profile">
          <img src="images/corrine.jpg" height="250" width="250">
          <p><strong>Corrine</strong></p>
        </div>
      </a>
      <a href="crystal.html">
        <div class="profile">
          <img src="images/crystal_fresh2.jpg" height="250" width="250">
          <p><strong>Crystal Fresh</strong></p>
        </div>
      </a>
      <a href="distinct.html">
        <div class="profile">
          <img src="images/distinct.jpg" height="250" width="250">
          <p><strong>Distinct</strong></p>
        </div>
      </a>
      <a href="ella.html">
        <div class="profile">
          <img src="images/ella_grave.jpg" height="250" width="250">
          <p><strong>Ella Grave</strong></p>
        </div>
      </a>
      <a href="iris.html">
        <div class="profile">
          <img src="images/iris.jpg" height="250" width="250">
          <p><strong>Iris</strong></p>
        </div>
      </a>
      <a href="jams.html">
        <div class="profile">
          <img src="images/jams.jpg" height="250" width="250">
          <p><strong>Jams</strong></p>
        </div>
      </a>
      <a href="jahkillin.html">
        <div class="profile">
          <img src="images/jahkillin.jpg" height="250" width="250">
          <p><strong>JAHKiLLiN</strong></p>
        </div>
      </a>
      <a href="jfkillah.html">
        <div class="profile">
          <img src="images/jfkillah.jpg" height="250" width="250">
          <p><strong>J.F. Killah</strong></p>
        </div>
      </a>
      <a href="kytami.html">
        <div class="profile">
          <img src="images/kytami.jpg" height="250" width="250">
          <p><strong>Kytami</strong></p>
        </div>
      </a>
      <a href="lovelace.html">
        <div class="profile">
          <img src="images/lovelace.jpg" height="250" width="250">
          <p><strong>Lovelace</strong></p>
        </div>
      </a>
      <a href="misshaze.html">
        <div class="profile">
          <img src="images/misshaze.jpg" height="250" width="250">
          <p><strong>Miss Haze</strong></p>
        </div>
      </a>
      <a href="mittz.html">
        <div class="profile">
          <img src="images/mittz.jpg" height="250" width="250">
          <p><strong>Mittz</strong></p>
        </div>
      </a>
      <a href="mizeyesis.html">
        <div class="profile">
          <img src="images/mizeyesis.jpg" height="250" width="250">
          <p><strong>Mizeyesis</strong></p>
        </div>
      </a>
      <a href="ninjette.html">
        <div class="profile">
          <img src="images/ninjette.jpg" height="250" width="250">
          <p><strong>Ninjette</strong></p>
        </div>
      </a>
      <a href="ohmgirl.html">
        <div class="profile">
          <img src="images/ohmgirl.jpg" height="250" width="250">
          <p><strong>Ohm Girl</strong></p>
        </div>
      </a>

      <a href="remedy.html">
        <div class="profile">
          <img src="images/remedy.jpg" height="250" width="250">
          <p><strong>Remedy</strong></p>
        </div>
      </a>
    </div>
  </div>

  <div class="news">
    <a name="news"></a><h2>News</h2>
    <div class="news-container">
      <ul>
        <li>
          <div class="month">
            <a href="news.html#july2016">July 2016 - New Members: Athena & Remedy</a>
          </div>
        </li>
        <li>
          <div class="month">
            <a href="news.html#february2016">February 2016 - New Members: Jah KiLLiN & Ohm Girl</a>
          </div>
        </li>
      <ul>
    </div>
  </div>

  <div class="contact">
    <a name="contact"></a><h2>Contact</h2>
    <div class="contact-container">
      <section class="border">
        <a href="mailto:thednbgirls@gmail.com" target="_blank"><button class="return">Email Us!</button></a>
      </section>      
    </div>
  </div>
</div>