<header class="site-header">
  <nav>
    <div class="nav-bar">
      <h1>DnB Girls</h1>
      <div class="nav-links" id="nav">
        <a class="main-nav" href="#">Home</a>
        <a class="main-nav" href="#about">About</a>
        <a class="main-nav" href="#girls">The Girls</a>
        <a class="main-nav" href="#links">Links</a>
        <a class="main-nav" href="#news">News</a>
        <a class="main-nav last" href="#contact">Contact</a>
      </div>
    </div>
  </nav>
</header>
<div class="body-container">
  <div class="about">
    <h2> About </h2>
    <div class="about-container">
      <div class="main-soundcloud">
        <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2355913&amp;color=4617cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
      </div>

      <div class="about-content">
        <p>Drum and Bass Girls is a collective of talented female artists, producers, song writers, singers, and DJs. From hosting radio shows, promoting events, and touring the world these girls deserve due respect for their extensive work and on-going enthusiasm for what they do. The love of Drum and Bass is what unites this group of talented women, but the DnB Girls don't stop there! Our artists aren't afraid to express creativity or diversity as they also showcase many other broken beat forms of Bass Heavy Music!</p>

        <ul>
          <li><a href="https://www.facebook.com/drumandbassgirls" target="_blank">Facebook</a></li>
          <li><a href="http://www.ustream.tv/channel/drum-bass-girls-of-Canada" target="_blank">Ustream Live Radio Show!</a></li>
          <li><a href="https://soundcloud.com/highonbeats_com/sets/l-o-u-d-podcast" target="_blank">High on Beats - L.O.U.D Podcast Series</a></li>
          <li><a href="https://twitter.com/dnbgirls" target="_blank">Twitter</a></li>
          <li><a href="http://dnbgirls.tumblr.com/" target="_blank">Tumblr</a></li>
          <li><a href="http://soundcloud.com/dnbgirls" target="_blank">Soundcloud</a></li>
          <li><a href="http://http://instagram.com/dnb_girls" target="_blank">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="girls">
    <h2>The Girls</h2>
    <div class="girls-container">
      <div class="profile">
        <img src="images/bitchplz.jpg" height="250" width="250">
        <p><strong>Bitch Plz</strong></p>
      </div>
      <div class="profile">
        <img src="images/bulletprooftiger.jpg" height="250" width="250">
        <p><strong>Bulletproof Tiger</strong></p>
      </div>
      <div class="profile">
        <img src="images/crystal_fresh2.jpg" height="250" width="250">
        <p><strong>Crystal Fresh</strong></p>
      </div>
       <div class="profile">
        <img src="images/distinct.jpg" height="250" width="250">
        <p><strong>Distinct</strong></p>
      </div>
      <div class="profile">
        <img src="images/ella_grave.jpg" height="250" width="250">
        <p><strong>Ella Grave</strong></p>
      </div>
      <a href="iris.html">
        <div class="profile">
          <img src="images/iris.jpg" height="250" width="250">
          <p><strong>Iris</strong></p>
        </div>
      </a>
      <div class="profile">
        <img src="images/jams.jpg" height="250" width="250">
        <p><strong>Jams</strong></p>
      </div>
      <div class="profile">
        <img src="images/jfkillah.jpg" height="250" width="250">
        <p><strong>J.F. Killah</strong></p>
      </div>
      <div class="profile">
        <img src="images/kytami.jpg" height="250" width="250">
        <p><strong>Kytami</strong></p>
      </div>
      <div class="profile">
        <img src="images/mittz.jpg" height="250" width="250">
        <p><strong>Mittz</strong></p>
      </div>
      <div class="profile">
        <img src="images/mizeyesis.jpg" height="250" width="250">
        <p><strong>Mizeyesis</strong></p>
      </div>
      <div class="profile">
        <img src="images/treachery.jpg" height="250" width="250">
        <p><strong>Treachery</strong></p>
      </div>
    </div>
  </div>

  <div class="news">
    <h2>News</h2>
    <div class="news-container">
    </div>
  </div>

  <div class="contact">
    <h2>Contact</h2>
    <div class="contact-container">
    </div>
  </div>
</div>